<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andreasogeirik.master_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the writer's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--GCM-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.andreasogeirik.master_frontend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.andreasogeirik.master_frontend.permission.C2D_MESSAGE"></uses-permission>
    <!--GCM-->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.SportyTheme"
        tools:replace="theme">
        <activity
            android:name=".application.auth.entrance.EntranceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.auth.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.main.MainPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.user.profile.ProfileActivity" />
        <activity
            android:name=".application.user.friend.FriendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.user.profile_others.ProfileOthersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.auth.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.event.create.CreateEventActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".application.settings.SettingsActivity" />
        <activity
            android:name=".application.event.main.EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.desmond.squarecamera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.user.photo.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".application.search.UserSearchActivity" />
        <activity
            android:name=".application.event.main.participants.ParticipantsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".application.event.edit.EditEventActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".application.user.profile.AttendingEventsActivity" />
        <activity
            android:name=".application.user.edit.EditUserActivity"
            android:screenOrientation="portrait" />

        <!--GCM-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.andreasogeirik.master_frontend.gcm.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.andreasogeirik.master_frontend.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>


        <service
            android:name="com.andreasogeirik.master_frontend.gcm.RegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!--GCM-->
    </application>

</manifest>
