<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreasogeirik.master_frontend">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".application.auth.entrance.EntranceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".application.auth.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".application.main.MainPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.user.profile.ProfileActivity"
            android:label="@string/title_activity_my_profile" />
        <activity android:name=".application.user.friend.FriendListActivity" />
        <activity
            android:name=".application.user.profile_not_friend.ProfileOthersActivity"
            android:label="" />
        <activity android:name=".application.auth.register.RegisterActivity" />
        <activity android:name=".application.auth.welcome.WelcomeActivity" />
        <activity android:name=".application.event.create.CreateEventActivity" />
        <activity android:name=".application.settings.SettingsActivity" />
        <activity android:name=".application.event.main.EventActivity">
        </activity>
    </application>

</manifest>
